---
layout: base
---
<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="post">
        <header class="text-center title">
          <h1>{{ page.title }}</h1>
          <p class="date no-indent">{{ page.date | date_to_string }}</p>
        </header>
        <section class="content">
          {{ content }}
        </section>
        <p class="more text-center"><a href="/">-- more posts --</a><p>
        <footer class="meta">
          {% include footer.html %}
        </footer>
      </article>
    </div>
  </div>
</div>
